### Acute Inflammations Data Set
https://archive.ics.uci.edu/ml/datasets/Acute+Inflammations

In [27]:
%matplotlib inline

import matplotlib
import numpy as np
import pandas as pd

In [28]:
df = pd.read_csv("acute-inflammations-diagnosis.csv",header=None)
for label, content in df.iteritems():
    if content.dtype == "object":
        df[label] = content.map(dict(yes=1, no=0))
df1 = df.apply(pd.to_numeric, errors='coerce')
continuous_index =  df1.dtypes[df1.dtypes == "float64"].index.values.tolist()

In [29]:
df.dtypes

0    float64
1      int64
2      int64
3      int64
4      int64
5      int64
6      int64
7      int64
dtype: object

In [14]:
continuous_index

[0]

In [15]:
df1

        0  1  2  3  4  5  6  7
0    35.5  0  1  0  0  0  0  0
1    35.9  0  0  1  1  1  1  0
2    35.9  0  1  0  0  0  0  0
3    36.0  0  0  1  1  1  1  0
4    36.0  0  1  0  0  0  0  0
..    ... .. .. .. .. .. .. ..
115  41.4  0  1  1  0  1  0  1
116  41.5  0  0  0  0  0  0  0
117  41.5  1  1  0  1  0  0  1
118  41.5  0  1  1  0  1  0  1
119  41.5  0  1  1  0  1  0  1

[120 rows x 8 columns]

In [30]:
df2 = pd.DataFrame()
for i in df1.dtypes.index.values.tolist():
    if(i in continuous_index):
        npa = df1.iloc[:,i].to_numpy()
        npa1 = npa[~np.isnan(npa)]
        bins = np.histogram_bin_edges(npa1)
        npa2 = np.digitize(npa, bins)
        df2.insert(loc=i,column=i,value=npa2)
    else:
        series = df1.iloc[:,i]
        df2.insert(loc=i,column=i,value=series)

In [31]:
df2

      0  1  2  3  4  5  6  7
0     1  0  1  0  0  0  0  0
1     1  0  0  1  1  1  1  0
2     1  0  1  0  0  0  0  0
3     1  0  0  1  1  1  1  0
4     1  0  1  0  0  0  0  0
..   .. .. .. .. .. .. .. ..
115  10  0  1  1  0  1  0  1
116  11  0  0  0  0  0  0  0
117  11  1  1  0  1  0  0  1
118  11  0  1  1  0  1  0  1
119  11  0  1  1  0  1  0  1

[120 rows x 8 columns]

In [32]:
#Y1 = d2 decision: Nephritis of renal pelvis origin { yes, no }
header_names=['X1','X2','X3','X4','X5','X6','X7','Y1']
#header_names=['0','1','2','3','4','5','6','7','8','9']
df2.to_csv("acute-inflammations-diagnosis-discretized.csv", index=False, header=header_names)