### Audiology (Standardized) Data Set
https://archive.ics.uci.edu/ml/datasets/Audiology+(Standardized)

In [1]:
%matplotlib inline

import matplotlib
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from imblearn.over_sampling import SMOTE, RandomOverSampler

In [2]:
df = pd.read_csv("audiology.standardized.csv",header=None)
le = LabelEncoder()
for label, content in df.iteritems():
    if content.dtype == "object":
        df[label] = le.fit_transform(df[label])
df1 = df.apply(pd.to_numeric, errors='coerce')
df1.fillna(0)
continuous_index =  df1.dtypes[df1.dtypes == "float64"].index.values.tolist()

In [3]:
df.dtypes

0     int64
1     int64
2     int64
3     int64
4     int64
      ...
66    int64
67    int64
68    int64
69    int64
70    int64
Length: 71, dtype: object

In [4]:
continuous_index

[]

In [16]:
for col in range(0,len(df.columns)):
    print(str(col) + " " + str(len(df1[col].value_counts())))

0 2
1 5
2 2
3 4
4 4
5 5
6 2
7 3
8 2
9 2
10 2
11 2
12 2
13 2
14 2
15 2
16 2
17 2
18 2
19 2
20 2
21 1
22 2
23 2
24 2
25 2
26 2
27 2
28 1
29 2
30 2
31 1
32 2
33 2
34 2
35 2
36 2
37 2
38 2
39 2
40 2
41 1
42 2
43 2
44 2
45 2
46 2
47 1
48 1
49 2
50 1
51 2
52 2
53 2
54 2
55 2
56 2
57 2
58 4
59 4
60 2
61 2
62 2
63 7
64 2
65 5
66 2
67 2
68 2
69 200
70 24

In [3]:
df2 = pd.DataFrame()
for i in df1.dtypes.index.values.tolist():
    if(i in continuous_index):
        npa = df1.iloc[:,i].to_numpy()
        npa1 = npa[~np.isnan(npa)]
        bins = np.histogram_bin_edges(npa1)
        npa2 = np.digitize(npa, bins)
        df2.insert(loc=i,column=i,value=npa2)
    else:
        series = df1.iloc[:,i]
        df2.insert(loc=i,column=i,value=series)

In [4]:
df2

,0,1,2,3,4,5,6,7,8,9,...,61,62,63,64,65,66,67,68,69,70
0,0,0,0,3,3,0,1,0,0,0,...,0,0,2,1,0,0,0,0,0,7
1,0,1,0,3,3,0,1,0,0,0,...,0,0,2,1,0,0,0,0,111,7
2,1,0,1,0,1,1,1,0,0,0,...,0,0,2,1,2,0,0,0,123,10
3,1,0,1,0,1,1,0,0,0,0,...,0,0,2,1,3,0,0,0,134,11
4,1,0,0,3,3,1,1,0,0,0,...,0,0,1,1,0,0,0,0,145,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1,0,0,1,3,1,1,0,0,0,...,0,0,5,1,0,0,0,0,107,2
196,1,0,0,3,1,1,0,0,0,0,...,0,0,5,1,4,0,0,0,108,11
197,0,2,0,3,3,4,0,1,0,0,...,0,0,2,0,0,0,0,0,109,21
198,1,0,0,3,3,4,0,0,0,0,...,0,0,5,1,0,0,0,0,110,2
199,1,2,0,3,3,4,0,0,0,0,...,0,0,2,1,0,0,0,0,113,2

In [4]:
header_names=[]
for i in range(0, len(df2.columns)-1):
    header_names.append('X'+str(i))
header_names.append('Y1')

oversample = RandomOverSampler()
cols = df2.columns
X = df2.iloc[:,0:len(cols)-1]
Y = df2.iloc[:,len(cols)-1]
print("Number of rows before SMOTE: " + str(len(Y)))
X, Y = oversample.fit_resample(X, Y)
print("Number of rows after SMOTE: " + str(len(Y)))
df3 = pd.DataFrame(X)
df3['Y1'] = pd.Series(Y) 

df2.to_csv("audiology.standardized-discretized.csv", index=False, header=header_names)
df3.to_csv("audiology.standardized-discretized-oversampled.csv", index=False, header=header_names)

Number of rows before SMOTE: 200
Number of rows after SMOTE: 1152